*{
    margin:0;
    padding:0;
    box-sizing:border-box ;
    list-style-type:none;
   
}

#nav-container{
    width: 100%;
    position: fixed;
    top:0;
}
#nav{
    display: flex;
    background-color: aqua;
    justify-content: space-between;
    align-items: center;
}

#nav-logo-container .logo-text{
    margin-left: 10px;
    padding:10px;
    font-size: 24px;
}
#nav-list{
    display:flex;
    padding:10px;
    justify-content: center;
    align-items: center;

}
#nav-list .list{
    margin-left: 10px;
    padding:10px;
    font-size: 24px;
    list-style-type: none;
}
#nav-list .list-link{
    text-decoration: none;
    cursor:pointer;
}
#home-img-container{
    margin-top:65px;
}
#home-img-container .main-img{
    background-image: url(../images/pollution-image2.jpg);
    height:90vh;
}





#nav-list #log-in{
    padding:10px;
    background: blue;
    font-size: 16px;
    border-radius: 5px;
    color:white;
    cursor:pointer;
    outline:none;
    border:none;
    
}

#about{
    margin-top: 100px;

}
#about-heading{
    
}
#about-content{
    font-size: 21px;
    text-indent: 2%;
    max-width: 50%;
    text-align: justify;
    margin-left: 45px;
    margin-top: 20px;
}
#question-section .question-container #title-heading{
    margin-top: 20px;
    margin-left: 8%;
    
    
    
}
#question-section .question-container #title-textarea{
    margin-top: 20px;
    margin-left: 8%;
    
}

.answer-section{
    
    background-color: silver;
}
#title{
    width: 40%;
    font-size: 20px;
    margin-left:8%;
    margin-top:5px;
}

#textarea{
    width: 80%;
    font-size: 18px;
    margin-left:10%;
    margin-top:2%;
    padding-left:-3%;
}

#add-question{
    width:fit-content;
    padding:10px;
    margin-left:80%;
    margin-top:10px;
    color: white;
    background-color: blue;
    border:none;
    outline:none;
    border-radius:5px;
    font-size: 18px;
    margin-bottom: 20px;
}

#problem-container-section border{
    border: 4px solid black;
}
















#answer-section .answer-container-div #answer-heading{
    margin-top: 20px;
    margin-left: 8%;
    
    
    
}
#answer-section .answer-container-div #answer-textarea-title{
    margin-top: 20px;
    margin-left: 8%;
    
}

#answer-title{
    width: 40%;
    font-size: 20px;
    margin-left:8%;
    margin-top:5px;
}

#answer-textarea{
    width: 80%;
    font-size: 18px;
    margin-left:10%;
    margin-top:2%;
    padding-left:-3%;
}

#add-answer{
    width:fit-content;
    padding:10px;
    margin-left:80%;
    margin-top:10px;
    color: white;
    background-color: blue;
    border:none;
    outline:none;
    border-radius:5px;
    font-size: 18px;
    margin-bottom: 20px;
}


#current-page{
    color:darkslateblue;
    background-color: red;
    padding:10px;
    border-radius:5px;
 }